/*article preview*/

.preview {
	float: left;
	width: 80%;
	margin-left: 10%;
}

.preview #article {
	float: left;
	width: 45%;
	border: 1px solid silver;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fafafa;
	margin-right: 5%;
	margin-bottom: 10px;
	min-height: 300px;
}

.preview #article img {
	width: 100%;
	height: 190px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px silver;
	margin-bottom: 10px; 
}

.preview #article h3 {
	width: 90%;
	margin-left: 5%;
	font-weight: normal;
	font-size: 1.2em;
	color: purple;
}

.preview #article p {
	width: 80%;
	margin-left: 10%;
	text-indent: 1em;
}

.preview #article a{
	float: left;
	padding: 10px 5px;
	background-color: #f1e8bc;
	margin-left: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-weight: bold;

	transition: none;
}

.preview #article a:hover{
	background-color: silver;
	color: purple;
	font-weight: bold;
}

.arrow {
	float: left;
	position: relative;
	width: 15%;
	height: 15%;
	margin-left: 22%;
	margin-bottom: 5px;
}

.arrow:hover{
	background: rgba(255, 255, 255, 0.1);
}

.arrow h2 {
	position: absolute;
	font-family: Comic Sans MS, sans-serif;
	color: #fafafa;
	font-size: 1em;
	top: 33%;
	/*line-height: 55px;*/
	margin-left: 27%;
}

.arrow h2:hover {
	color: #29044f;
	/*color: #ba85c9;*/
	transition: all.6s ease;
	-moz-transition:all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

/* ?????????? *//*

@media screen and (max-width: 70em) {
.arrow h2 {
font-size:1em;
}
}

@media screen and (max-width: 60em) {
.arrow h2 {
font-size:0.5em;
}
}

@media screen and (max-width: 55em) {
.arrow h2 {
font-size:0.3em;
}*/